//Variables

$coral: #fa7455;
$grey: #fafbfc;
$white: #fff;
$purple: #615c85;


//Mixins
//
@mixin paddingHeight($padding) {
	padding-top: $padding;
	padding-bottom: $padding;
}

@mixin paddingWidth($padding) {
	padding-left: $padding;
	padding-right: $padding;
}

@mixin marginHeight($margin) {
	margin-top: $margin;
	margin-bottom: $margin;
}


@mixin marginWidth($margin) {
	margin-top: $margin;
	margin-bottom: $margin;
}

@mixin shadow($hOffset, $vOffset, $blur, $spread, $color) {

	-webkit-box-shadow: $hOffset $vOffset $blur $spread $color;
	-moz-box-shadow: $hOffset $vOffset $blur $spread $color;
	box-shadow:  $hOffset $vOffset $blur $spread $color;
}

@mixin arrow($color, $top: 95.8%){
	:after{
		content:'&#xf100\f151';
		position: absolute;
	    top: $top;
	    margin-left: auto;
	    margin-right: auto;
	    left: 0;
	    right: 0;
	    content: '';
	   	width: 0; 
		height: 0; 
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-bottom: 30px solid $color;
	}
}


/* Floating fix*/
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

$url:'../images/7.jpeg';

/* border-box*/
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	margin: 0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	// width:970px;
}

h2{
	font-size:20px;
}



section{
	margin:0;
	padding:0;
}

button{
	background:none;
	border-color:$white;
	border-radius:10%;
	border-width:2px;
	outline:none;
	padding:4px 8px 4px 8px;
}


ul{
	list-style:none;
	padding-left:0;
	margin:0;

}

form{
	display:inline;
}


.bold{
	font-weight:400;
}

input{
	background:#ccc;
	border-radius:150px;
	outline:none;
	border:none;
}


//---------------------------
//

.links li{
	display:inline-block;
}
.header h1{
	margin:0;
}


.header{
	padding: 0 0 150px 0;
	background:url($url) center no-repeat fixed;
	background-size: cover;
	position:relative;

	color:$white;
	text-align:center;
	h2{
		margin-top:0px;
		font-family: 'Satisfy', cursive;
		font-size:46px;
	}

	@include arrow($coral);

}

.info{
	padding-top:250px;
}


.top-bar {
	margin:0;
	@include paddingHeight(15px);
	background: $coral;
	color: $white;

	ul{
		 width:15%;
		 margin:0;
		 float:right;
		 text-align:center;
	}

	p{
		width:81%;
		@include marginHeight(6.5%);
		margin:0;
		float:left;
		// margin-left:10%;
		font-weight:300;
		font-size:12px;

		padding-left:4%;
	}
}

.nav-bar{
	@include paddingHeight(15px);
	@include shadow(0, 8px, 6px, -6px, #000);
	position:relative;
	background:$grey;
	color:$coral;
	text-align:center;

	li{
		padding-left:4%;
		display:inline;
	}

	li:nth-child(3){
		 // padding-left:30px;
	}
	ul{
		 // padding-left:285px;
		 float:left;
		 width:60%;
		 padding-left:5%;
	}
	form{
		 // margin-left:40%;
		 float:right;
		 padding-left:10%;
		 width:40%;
	}
}

// About
.about{
	background:$coral;
	// @include shadow(0px, -8px, 6px, -6px, #000);
	color:$white;
	@include paddingHeight(20px);
	text-align:center;
	li{
		display:inline-block;
		padding:5%;
	}

	i{
		font-size:50px;
	}

	.title{
		display:block;
	}
	h2{
		font-weight:300;
		font-size:35px;
	}
	h3{
		font-weight:300;
		font-size:16px;
	}
}


// Clients
.clients{
	position:relative;
	h2{
		color:$coral;

	}

	@include paddingHeight(50px);
	@include arrow($purple,97.1%);
}

.testimonial{
	background:$coral;
	width:40%;
}
.logos li{
	display:inline-block;
}

//Projects
.projects{
	text-align:center;
	background:$purple;
}

//Team

.team li{
	display:inline-block;
}
//News
.news{
	background:#8bb900;
	padding:1px;
}