/* Floating fix*/
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

/* border-box*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

h2 {
  font-size: 20px; }

section {
  margin: 0;
  padding: 0; }

button {
  background: none;
  border-color: #fff;
  border-radius: 10%;
  border-width: 2px;
  outline: none;
  padding: 4px 8px 4px 8px; }

ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

form {
  display: inline; }

.bold {
  font-weight: 400; }

input {
  background: #ccc;
  border-radius: 150px;
  outline: none;
  border: none; }

.links li {
  display: inline-block; }

.header h1 {
  margin: 0; }

.header {
  padding: 0 0 150px 0;
  background: url('../images/7.jpeg') center no-repeat fixed;
  background-size: cover;
  position: relative;
  color: #fff;
  text-align: center; }
  .header h2 {
    margin-top: 0px;
    font-family: 'Satisfy', cursive;
    font-size: 46px; }
  .header :after {
    content: '&#xf100\f151';
    position: absolute;
    top: 95.8%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    content: '';
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #fa7455; }

.info {
  padding-top: 250px; }

.top-bar {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #fa7455;
  color: #fff; }
  .top-bar ul {
    width: 15%;
    margin: 0;
    float: right;
    text-align: center; }
  .top-bar p {
    width: 81%;
    margin-top: 6.5%;
    margin-bottom: 6.5%;
    margin: 0;
    float: left;
    font-weight: 300;
    font-size: 12px;
    padding-left: 4%; }

.nav-bar {
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-shadow: 0 8px 6px -6px #000;
  -moz-box-shadow: 0 8px 6px -6px #000;
  box-shadow: 0 8px 6px -6px #000;
  position: relative;
  background: #fafbfc;
  color: #fa7455;
  text-align: center; }
  .nav-bar li {
    padding-left: 4%;
    display: inline; }
  .nav-bar ul {
    float: left;
    width: 60%;
    padding-left: 5%; }
  .nav-bar form {
    float: right;
    padding-left: 10%;
    width: 40%; }

.about {
  background: #fa7455;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }
  .about li {
    display: inline-block;
    padding: 5%; }
  .about i {
    font-size: 50px; }
  .about .title {
    display: block; }
  .about h2 {
    font-weight: 300;
    font-size: 35px; }
  .about h3 {
    font-weight: 300;
    font-size: 16px; }

.clients {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px; }
  .clients h2 {
    color: #fa7455; }
  .clients :after {
    content: '&#xf100\f151';
    position: absolute;
    top: 97.1%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    content: '';
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #615c85; }

.testimonial {
  background: #fa7455;
  width: 40%; }

.logos li {
  display: inline-block; }

.projects {
  text-align: center;
  background: #615c85; }

.team li {
  display: inline-block; }

.news {
  background: #8bb900;
  padding: 1px; }
