/* border-box*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

section {
  margin: 0;
  padding: 0; }

button {
  background: none;
  border-color: #fff;
  border-radius: 10%;
  border-width: 2px;
  outline: none;
  padding: 4px 8px 4px 8px; }

ul {
  list-style: none;
  padding-left: 0; }

.bold {
  font-weight: 400; }

.links li {
  display: inline-block; }

.header h1 {
  margin: 0; }

.header {
  padding: 0 0 150px 0;
  background: url('https://ununsplash.imgix.net/reserve/qstJZUtQ4uAjijbpLzbT_LO234824.JPG?q=75&fm=jpg&s=19a0626c59b4f2033f70e2fbb6123fcc');
  background-size: cover;
  color: #fff;
  text-align: center; }
  .header h2 {
    margin-top: 0px;
    font-family: 'Satisfy', cursive; }

.info {
  padding-top: 250px; }

.top-bar {
  margin: 0;
  padding: 30px 0 30px 0;
  background: #fa7455;
  color: #fff; }
  .top-bar p {
    margin: 0 0 0 13%;
    display: inline;
    font-weight: 300;
    font-size: 12px; }
  .top-bar ul {
    display: inline;
    margin: 0 0 0 53%; }

.nav-bar {
  background: #fafbfc;
  color: #fa7455;
  padding-bottom: 88px; }
  .nav-bar li {
    display: inline; }

.about {
  background: #fa7455;
  color: #fff;
  padding: 80px;
  text-align: center; }
  .about li {
    display: inline; }

.clients h2 {
  color: #fa7455; }

.client-info {
  background: #fa7455;
  width: 40%; }

.logos li {
  display: inline-block; }

.projects {
  text-align: center;
  background: #615c85; }

.team li {
  display: inline-block; }

.news {
  background: #8bb900;
  padding: 1px; }
